.item {
  aspect-ratio: 1/1;
}

.column .item {
  background-color: var(--light-brown);
}

.column:nth-child(odd) .item:nth-child(odd) {
  background-color: var(--dark-brown);
}

.column:nth-child(even) .item:nth-child(even) {
  background-color: var(--dark-brown);
}
