.pawn {
  position: absolute;
  height: 40px;
  aspect-ratio: 1/1;
  border: 1px solid var(--grey);
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0px -10px 24px 0px var(--grey);
  transition: 0.2s;
}
